body {
    background-color: white;
}

#commit-app, #artifact-app {
    margin: 5px;
}

#button-save {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 5px;
    margin-right: 5px;
    z-index: 1;
}

form.aui {
    margin-top: 5px;
}

.artifact {
    margin-top: 10px;
}

.artifact:first-child {
    margin-top: 20px;
}

#spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#installation-select-wrapper {
    max-width: 400px;
}

.aui-expander-content {
    min-height: 1.5em
}

.aui-iconfont-check{
    color:green;
}

.aui-iconfont-error{
    color:red;
}
